

.template-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
  position: relative;
  height: 400px;
  cursor: pointer;
}

.template-card-outer {
  gap: 25px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.choose-template-button {
  display: none !important;
  background-color: rgb(151, 236, 163) !important;
  border: 1px solid rgb(132, 235, 132) !important;
  position: absolute;
  bottom: 30px;
  /* left: 40px; */
  left: 50%;
  transform: translate(-50%);

  /* transition: display 1s; */
}
.template-card:hover .choose-template-button {
  display: block !important;
}
/* .card h6:hover + .choose-template-button {
  display: block !important;
  color: white !important;
} */
