.t-edit i {
    text-align: center;
    padding: 10px 20px 0px;
    background-color: white;
    position: absolute;
    top: 20px;
    left: 50%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    transform: translate(0, -50%);
    box-shadow: 1px -4px 8px -3px rgba(60, 64, 67, 0.15);
  }
  .t-sect-list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
  }
  .t-setting-sect {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    position: absolute;
    /* right: 0px; */
    border-radius: 5px;
    top: 40px;
    left: 50%;
    transform: translate(-48%, 0%);
    width: clamp(200px,60vw,400px)
  }
  .t-edit {
    position: relative;
    top: -20px;
  }
  .t-name {
    color: var(--blue-color) !important;
    font-size: 30px;
    font-weight: 600;
  }
  .t-input-name::placeholder {
    color: var(--blue-color);
  }
  .t-header-right {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 5px;
  }
  .form-control-plaintext {
    padding: 0px !important;
  }
  .t-user-image-sec:hover .t-image-on-hover {
    display: flex;
  }
  .t-image-on-hover {
    position: absolute;
    /* display: flex; */
    gap: 15px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    transition: all 5s !important;
  
    /* height: 0; */
    /* opacity: .6; */
  }
  .t-image-upload,
  .t-image-hide {
    padding: 7px 11px;
    color: white;
    border-radius: 5px;
    background-color: var(--green-color);
  }
  .t-image-hide {
    background-color: var(--danger-color);
  }
  .t-hidden {
    opacity: 0;
    /* height: 0; */
    overflow: hidden;
    visibility: hidden;
    transition: all 1s;
  }
  
  .t-shown {
    opacity: 1;
    visibility: visible;
    height: auto;
    transition: all 2s;
  }
  
  .t-input-name::-ms-input-placeholder {
    color: var(--blue-color);
  }
  .t-input-role::placeholder {
    color: var(--orange-color);
  }
  .t-input-role::-ms-input-placeholder {
    color: var(--orange-color);
  }
  
  .t-input::placeholder {
    opacity: 0.6;
  }
  
  .t-input::-ms-input-placeholder {
    opacity: 0.6;
  }
  
  .o-6 {
    opacity: 0.6 !important;
  }
  
  .t-role {
    font-size: 17px;
    color: var(--orange-color);
    width: 100%;
  }
  /* .t-job-position {
    font-size: 17px;
    color: var(--orange-color);
    width: 100%;
  } */
  
  .t-input,
  .t-input:focus,
  .t-input:active,
  .t-input:focus-visible {
    border: none !important;
    outline: none !important;
  }
  /* .t-input:autofill {
    border: 3px solid darkorange;
    color: red !important;
  }
  
  .t-input:-webkit-autofill {
    border: 3px solid darkorange;
    color: red !important;
  
  } */
  
  .t-c-details {
    display: flex;
    gap: 6px;
    align-items: center;
    font-size: 16px;
    margin-right: 12px;
    color: var(--icon-color);
    border: 0.4px solid transparent;
    /* padding-inline: 6px; */
    position: relative;
  }
  .t-header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 70px;
  }
  .t-user-edit-sec .form-check-inline {
    margin: 0px !important;
  }
  .t-user-edit-sec {
    /* text-align: center; */
    gap: 5px;
    display: flex;
    flex-direction: column;
  }
  .t-user-round .t-user-image-sec {
    border-radius: 50%;
  }
  .t-user-semi .t-user-image-sec {
    border-radius: 10%;
  }
  .t-user-image-sec {
    /* height: 140px; */
    /* padding: 10px; */
    background-color: var(--un-selected-color);
  
    /* background-color: var(--icon-color); */
    overflow: hidden;
    position: relative;
    /* width: 200px; */
  }
  .t-user-image-sec:hover {
    background-color: var(--icon-color);
  
    /* background-color: var(--un-selected-color); */
  }
  .t-user-image {
    height: 130px;
    width: 130px;
  }
  .t-icon-c-delete {
    color: var(--danger-color);
    position: absolute !important;
    top: -11px;
    right: -7px;
  }
  .t-c-details-select {
    border-radius: 4px;
    border: 0.4px solid var(--green-color);
    padding-inline: 5px;
  }
  .t-c-detail-value {
    color: var(--primary-t-color) !important;
  }
  .t-c-details i {
    font-size: 14px;
  }
  .t-icon {
    position: relative;
  }
  .t-add-icon-details {
    padding-inline: 6px;
    color: var(--green-color);
  }
  .t-icons-available {
    position: absolute;
    z-index: 10;
    padding: 6px;
    flex-direction: row !important;
    gap: 12px;
    background-color: var(--un-selected-color);
  }
  .t-icons-available i {
    color: var(--black-color);
  }
  .t-icons-available i:hover {
    color: var(--orange-color);
  }
  .t-section {
    /* border: 0.4px solid transparent; */
  }
  .t-section-edit {
    /* border: 0.4px solid var(--green-color); */
    border-radius: 5px;
    background-color: var(--selection-color) !important;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    /* box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px; */
  }
  .t-section-remaining-edit {
    background-color: var(--un-selected-color) !important;
  }
  .t-cDetails-list {
    display: flex;
    gap: 0px;
    align-items: center;
    flex-wrap: wrap;
  }
  .template-main {
    margin: auto;
    border-radius: 5px;
    width: 100%;
    max-width: 940px;
    height: 1330px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  }
  